label {
    font-family: sans-serif;
    font-weight: bold;
    display: block;
    margin-top: 1rem;
}

input {
    background-color: rgb(18, 117, 88);
    width: 12rem;
    height: 1.5rem;
}

#calculate-button {
    background-color: rgb(22, 100, 77);
    background-color: green;
}

form {
    display: block;
    text-align: center;
    align-items: center;
    background-color: rgb(27, 146, 110);
}

button {
    font-size: 1.5rem;
    margin-top: 2rem;
    height: 2rem;
    width: 12rem;
}